.toolbar {
  /* background-color: rgba(0, 120, 0, 0.7); */
  background-color: #e3dac9;
  width: 200px;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
}
.toolbar button {
  display: block;
}
